/* Tipografía general */

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .navbar-toggler {
    background-color: #d26a8d !important;
    border-color: rgba(255, 255, 255, 0.5);
  }

  .navbar-toggler-icon {
    filter: brightness(2);
  }

  .navbar-collapse {
    background-color: #ffe6f0;
    padding: 1rem;
  }
}

.card {
  border: 1px solid #ffe6ea;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.card h4 {
  color: #ff8fab;
  margin-bottom: 1rem;
}
