/* Tipografía general */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    /* Esto hace que el main tome todo el espacio disponible */
}
body {
    font-family: "Quicksand", sans-serif;
    background-color: #fffaf6;
}

.navbar {
    background-color: #ffe6e6;
}

.navbar-brand,
.nav-link {
    color: #7a5c61 ;
    font-weight: 600;
}

.nav-link:hover {
    color: #d18592 ;
}

h1,
h4 {
    color: #7a5c61;
}

.card {
    border: none;
    background-color: #fff3f3;
    border-radius: 12px;
    box-shadow: 0 0 10px #f2dcdc;
}

footer {
    /* footer siempre tenga un tamaño fijo */
    /* height: 60px; */
    background-color: #ffd9e8;
    
    color: #ffd9e8;
    text-align: center;
    padding: 20px 0;
}

.btn-pastel {
    background-color: #f9d5d5;
    color: #7a5c61;
    border: none;
}

.btn-pastel:hover {
    background-color: #f4c2c2;
}