/* Tipografía general */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  /* Esto hace que el main tome todo el espacio disponible */
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #fffaf6;
}

.bg-pink {
  background-color: #ffe6f0;
}

.btn-pastel {
  background-color: hsl(335, 86%, 72%);
  color: #fff;
  border-color: #f8c8dc;
}

.btn-pastel:hover {
  background-color: #f165b4;
  border-color: #e0a9c8;
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  color: #d26a8d !important;
}

.nav-link {
  color: #333 !important;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: #d26a8d !important;
  text-decoration: underline;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .navbar-toggler {
    background-color: #d26a8d !important;
    border-color: rgba(255, 255, 255, 0.5);
  }

  .navbar-toggler-icon {
    filter: brightness(2);
  }

  .navbar-collapse {
    background-color: #ffe6f0;
    padding: 1rem;
  }
}

footer a.text-white:hover {
  color: #333;
}

/* Estilos adicionales para el formulario de contacto */
form {
  background-color: #ffffff;
}

form label {
  font-weight: 600;
  color: #333;
}

form .form-control:focus {
  border-color: #ffb6c1;
  box-shadow: 0 0 0 0.25rem rgba(255, 182, 193, 0.25);
}
