

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .navbar-toggler {
    background-color: #d26a8d !important;
    border-color: rgba(255, 255, 255, 0.5);
  }

  .navbar-toggler-icon {
    filter: brightness(2);
  }

  .navbar-collapse {
    background-color: #ffe6f0;
    padding: 1rem;
  }
}

