/* Tipografía general */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
   
}


.bg-pink {
    background-color: #ffe6f0;
   
}

/* Estilo para los botones con la clase btn-pastel */
.btn-pastel {
    background-color: #f165b4;
    
    color: #fff;
  
    border-color: #f8c8dc;
  
}

.btn-pastel:hover {
    background-color: #e0a9c8;
    
    border-color: #e0a9c8;
}


.navbar-brand{
            padding-top: var(--bs-navbar-brand-padding-y);
            padding-bottom: var(--bs-navbar-brand-padding-y);
            margin-right: var(--bs-navbar-brand-margin-end);
            font-size: var(--bs-navbar-brand-font-size);
            color: rgb(194, 33, 103,1);
            text-decoration: none;
            white-space: nowrap;
}

.navbar-brand,
.nav-link {
    color: #7a5c61 !important;
    font-weight: 600;
}

.nav-link:hover {
    color: #d18592 !important;
}

h1,
h2 {
    color: #7a5c61;
}

p {
    font-size: 1.1rem;
    color: #5a4b4b;
}
footer {
    /* Opcional: si quieres que el footer siempre tenga un tamaño fijo */
    /* height: 60px; */
    background-color: #ffd9e8;
    /* tu color pastel */
    color: #333;
    text-align: center;
    padding: 20px 0;
}

.btn-pastel {
    background-color: #f9d5d5;
    color: #7a5c61;
    border: none;
}

.btn-pastel:hover {
    background-color: #f4c2c2;
}