/* Tipografía general */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    /* Esto hace que el main tome todo el espacio disponible */
}
body {
    font-family: "Quicksand", sans-serif;
    background-color: #fffaf6;
}

.navbar {
    background-color: #ffe6e6;
}

.navbar-brand,
.nav-link {
    color: #7a5c61 !important;
    font-weight: 600;
}

.nav-link:hover {
    color: #d18592 !important;
}

h1 {
    color: #7a5c61;
}

.media-container {
    background-color: #fff3f3;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 10px #f2dcdc;
}

video,
audio {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

footer {
    /* footer siempre tenga un tamaño fijo */
    
    background-color: #ffd9e8;
   
    color: #ffd9e8;
    text-align: center;
    padding: 20px 0;
}