/* Tipografía general */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  /* Esto hace que el main tome todo el espacio disponible */
}
body {
  font-family: "Quicksand", sans-serif;
  background-color: #fffaf6;
}

.bg-pink {
  background-color: #ffe6f0;
}

.btn-pastel {
  background-color: #f165b4;
  color: #fff;
  border-color: #f8c8dc;
}

.btn-pastel:hover {
  background-color: #e0a9c8;
  border-color: #e0a9c8;
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  color: #d26a8d !important;
}

.nav-link {
  color: #333 !important;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: #d26a8d !important;
  text-decoration: underline;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .navbar-toggler {
    background-color: #d26a8d !important;
    border-color: rgba(255, 255, 255, 0.5);
  }

  .navbar-toggler-icon {
    filter: brightness(2);
  }

  .navbar-collapse {
    background-color: #ffe6f0;
    padding: 1rem;
  }
}

footer a.text-white:hover {
  color: #ffd1dc;
}

.card {
  border: 1px solid #ffe6ea;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card h4 {
  color: #ff8fab;
  margin-bottom: 1rem;
}

.card p {
  color: #6c757d;
}

footer {
  background-color: #ffd9e8;
  color: #333;
  text-align: center;
  padding: 20px 0;
}
