/* Tipografía general */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    /* Esto hace que el main tome todo el espacio disponible */
}
body {
    font-family: "Quicksand", sans-serif;
    background-color: #fffaf6;
}


.bg-pink {
    background-color: #ffe6f0;
    
}

.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: black;
    text-decoration: solid;
    white-space: nowrap;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(5, 5, 5, 0.9);
    transition: color 0.3s ease-in-out;

}

.navbar-brand,
.nav-link {
    color: #7a5c61 !important;
    font-weight: 600;
}

.nav-link:hover {
    color: #d18592 !important;
}

h1 {
    color: #7a5c61;
}

#map {
    height: 400px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 0 10px #f2dcdc;
}

footer {
    /* Opcional: si quieres que el footer siempre tenga un tamaño fijo */
    /* height: 60px; */
    background-color: #ffd9e8;
    /* tu color pastel */
    color: #333;
    text-align: center;
    padding: 20px 0;
}

.btn-pastel {
    background-color: #f9d5d5;
    color: #7a5c61;
    border: none;
}

.btn-pastel:hover {
    background-color: #f4c2c2;
}